DATABASE_URL=postgresql://user:pass@ep-xxx.eu-west-2.aws.neon.tech/neondb?sslmode=require
REDIS_URL=redis://default:token@endpoint.upstash.io:6379
SOMNIA_RPC_URL=https://dream-rpc.somnia.network
DEPLOYER_PRIVATE_KEY=0x_your_deployer_key_here
CRON_SECRET=change_me_in_production
ESCROW_ADDRESS=0x02916cDd952157156d17A255204462e40E90f129
NFT_ADDRESS=0x065A50600376B537Ef5bE32cfc822a9DbCaD6399
DEPLOY_BLOCK=398450593
PORT=3001
